@charset "utf-8";

.ff-segoeui {
	font-family: SegoeUI-Bold, Segoe UI;
}

.row {
	&.gutter-1 {
		margin-left: 1px !important;
		margin-right: 1px !important;
	}

	&.gutter-20 {
		margin-left: -10px;
		margin-right: -10px;

		> [class *= col], > [class ^= col] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}