@charset "utf-8";

.en-font {
	font-family: $en-font;
}

.row {
	&.gutter-1 {
		margin-left: 1px !important;
		margin-right: 1px !important;
	}

	&.gutter-20 {
		margin-left: -10px;
		margin-right: -10px;

		> [class *= col], > [class ^= col] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.page-title {
	font-size: 36px;
	line-height: 1.6;
	padding-bottom: 25px;
	position: relative;
	margin-bottom: 80px;
	font-weight: 700;
	text-align: center;

	> span {
		font-family: $en-font;
	}

	> em {
		font-size: 0.5em;
		display: block;
	}

	> small {
		font-size: .6em;
	}

	&:before {
		content: '';
		display: block;
		width: 50px;
		height: 5px;
		background-color: #ff6298;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}

	@media (max-width: 991px) {
		margin-bottom: 0;
	}

	@media (max-width: 767px) {
		font-size: 24px;
		text-align: center;

		&:before {
			width: 36px;
			height: 3px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.page-subtitle {
	font-size: 20px;
	text-align: center;

	@media (max-width: 767px) {
		font-size: 14px;
	}
}

.page-top {
	padding-top: 80px;

	@media (max-width: 991px) {
		display: flex;
		flex-direction: column;
		padding-top: 0;

		.breadcrumb {
			order: -1;
			margin-bottom: 40px;
		}
	}

	@media (max-width: 767px) {
		.breadcrumb {
			font-size: 10px;
		}
	}
}

.breadcrumb {
    background-color: #eeefe7;
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    border-radius: 0;
    margin: 0;
    padding: 8px 0;

    ul {
    	li {
    		display: inline-block;
    		vertical-align: middle;

    		&:not(:first-child):before {
    			content: '';
    			display: inline-block;
    			vertical-align: middle;
    			width: 17.5px;
    			height: 1px;
    			border-top: 1px solid #999;
    			transform: rotate(-45deg);
    			margin: 0 10px;

    			@media (max-width: 767px) {
    				width: 12px;
    				margin: 0 5px;
    			}
    		}

    		span, a {
    			display: inline-block;
    			vertical-align: middle;
    		}

    		a:not(:hover) {
    			color: #999;
    		}
    	}
    }
}

fieldset {
	.input-text {
		display: flex;
		align-items: flex-start;
		min-height: 80px;
		border-bottom: 1px solid #e7ebef;
		line-height: 1.5;

		@media (max-width: 991px) {
			min-height: 0;
			flex-wrap: wrap;
		}

		.input-text-label {
			min-width: 255px;
			font-size: 18px;
			font-weight: 700;
			margin: 25px 0;

			@media (max-width: 991px) {
				font-size: 12px;
				min-width: 0;
				display: block;
				margin-top: 10px;
				margin-bottom: 10px;
				flex: 0 0 100%;
			}

			&.flex-align-start {
				align-self: flex-start;
				margin-top: 30px;

				@media (max-width: 991px) {
					margin-top: 10px;
				}
			}
		}

		.input-text-data {
			font-size: 18px;

			@media (max-width: 991px) {
				font-size: 12px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		.input-text-input {
			font-size: 18px;
			background-color: #f6f7f2;
			border: 0;
			display: block;
			flex: auto;
			height: 50px;
			line-height: 50px;
			padding: 0 20px;

			@media (max-width: 991px) {
				font-size: 12px;
				margin-bottom: 10px;
				line-height: 35px;
				height: 35px;
			}
		}

		.input-text-group {
			flex: auto;
			padding: 10px 0;

			@media (max-width: 991px) {
				padding: 0;
			}

			.input-text {
				min-height: 60px;
				border: 0;

				@media (max-width: 991px) {
					min-height: 0;
				}

				.input-text-label {
					min-width: 125px;
					font-weight: 400;

					@media (max-width: 991px) {
						min-width: 0;
					}
				}
			}
		}

		.input-text-after-label {
		    display: block;
		    text-align: center;
		    align-items: center;
		    justify-content: center;
		    padding: 0 20px;

		    @media (max-width: 991px) {
		    	margin-bottom: 10px;
		    	font-size: 12px;
		    }

		    img {
		    	display: inline-block;
		    	margin-left: 5px;
		    }

		    a {
		    	text-decoration: underline !important;
		    }
		}

		.input-radio {
			display: inline-block;
		    margin-right: 40px;
		    font-size: 18px;

		    @media (max-width: 991px) {
		    	font-size: 12px;
		    }
		}

		textarea {
			flex: auto;
		    border: 0;
		    background-color: #f6f7f2;
		    min-height: 235px;
		    margin: 15px 0;
		    padding: 15px 20px;

		    @media (max-width: 991px) {
		    	margin: 0 0 10px;
		    }
		}
	}
}

form {
	fieldset .input-text {
		align-items: center;
	}
}

.gray-bg {
	background-color: #f7f7f7;
}

.owl-image-carousel {
	.owl-nav {
		position: absolute;
		left: -30px;
		right: -30px;
		top: 50%;
		transform: translateY(calc(-50% - 20px));
		display: flex;
		align-items: center;
		justify-content: space-between;

		button.owl-prev, button.owl-next {
			font-size: 24px;
			color: #ddd;

			&:focus {
				box-shadow: none;
				outline: 0;
			}

			&:hover {
				color: #fe6297;
			}
		}
	}

	.owl-dots {
		display: block;
		text-align: center;
		margin: 15px 0;

		button.owl-dot {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			background-color: #ddd;
			margin: 5px;

			&:hover, &.active {
				background-color: #fe6297;
			}

			&:focus {
				outline: 0;
				box-shadow: none;
			}
		}
	}
}

.toolbar {
    margin: 50px 0;

    .pagination {
    	text-align: center;
    	display: block;

    	> li {
    		display: inline-block;
    		vertical-align: middle;
    		margin: 0 10px;

    		&:last-child {
    			margin-right: 0;

    			@media (max-width: 767px) {
    				display: none;
    			}
    		}

    		&:first-child {
    			margin-left: 0;
    			
    			@media (max-width: 767px) {
    				display: none;
    			}
    		}

    		> a {
    			line-height: 75px;
    			font-size: 18px;
    			display: block;
    			text-decoration: underline !important;
    			font-family: $en-font;

    			@media (max-width: 991px) {
    				line-height: 50px;
    				font-size: 12px;
    			}

    			&:hover {
    				color: #fe6297;
    			}
    		}

    		&.page-num {
    			margin: 0 5px;
    			> a {
    				text-decoration: none !important;
    				width: 75px;
    				text-align: center;
    				border: 1px solid;
    				border-radius: 50px;

    				@media (max-width: 991px) {
    					width: 50px;
    				}
    			}
    		}
    	}
    }
}

.information-table {
	font-size: 18px;

	@media (max-width: 767px) {
		font-size: 12px;
	}

	thead {
		th {
			background-color: #9a9a9a;
			color: #fff;
			border-left: 1px solid #cdcdcd;
			text-align: center;
			padding: 10px 15px;

			&:first-child {
				border-left: 0;
			}
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	tbody {
		tr {
			td {
				padding: 10px 15px;
				border-left: 1px solid #cdcdcd;

				@media (min-width: 768px) {
					&:nth-child(1), &:nth-child(3) {
						white-space: nowrap;
					}
				}

				&:first-child {
					border-left: 0;
				}

				&[colspan="3"] {
					padding-left: 0;
					padding-right: 0;

					@media (max-width: 767px) {
						&:before {
							display: none;
						}
					}
				}

				@media (max-width: 767px) {
					display: block;
					border-left: 0;

					&:before {
						content: '';
						display: block;
						padding: 10px 15px;
						background-color: #9a9a9a;
						color: #fff;
						margin: -10px -15px 10px -15px;
					}

					&:nth-child(1):before {
						content: '項目';
					}

					&:nth-child(2):before {
						content: '内容';
					}

					&:nth-child(3):before {
						content: '金額';
					}

					&:nth-child(1) {
						margin-top: 20px;
					}
				}
			}

			&:nth-child(2n+1) {
				td {
					background-color: #eeefe7;
				}
			}

			&:nth-child(2n) {
				td {
					background-color: #f6f7f2;
				}
			}
		}
	}
}

.lh-1p5 {
	line-height: 1.5;
}

.fw-700 {
	font-weight: 700;
}

.fs-20 {
	font-size: 20px;

	@media (max-width: 767px) {
		font-size: 14px;
	}
}

.fs-18 {
	font-size: 18px;

	@media (max-width: 767px) {
		font-size: 13px;
	}
}

.quick-link.no-border {
	&:before {
		display: none !important;
	}
}