@charset "utf-8";

section {
	position: relative;
}

.hero {
    min-height: 100%;
    position: relative;
}

.l-kv {
    position: relative;
}

.l-kv__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @media (max-width: 767px) {
    	position: static;
    	height: 100vh;
    }

	.mochimore {
		float: left;
	}

	.mimona {
	    float: right;
	}

    .mochimore, .mimona {
	    width: 50%;
	    height: 100%;

	    @media (max-width: 767px) {
	    	width: auto;
	    	height: 50%;
	    	float: none;
	    	position: relative;
	    }
	}

	.slidesWrap {
		position: relative;
		width: 100% !important;
		height: 100% !important;

		.slides {
			width: 100% !important;
			height: 100% !important;

			.slide {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 100% !important;
				height: 100% !important;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

@media only screen and (min-width: 769px) {
	.wip_content {
	    position: relative;
	    width: 100%;
	    height: 100vh;
	    z-index: 4;
	    background: rgba(0, 0, 0, 0.28);
	}
}

.gen {
    font-family: 'Noto Sans JP', sans-serif;
}

.l-kv__txt {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    z-index: 10;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.16);

	@media (min-width: 768px) {
		width: 400px;
		height: 400px;
	}

	@media (min-width: 1024px) {
		width: 500px;
		height: 500px;
	}

	@media (min-width: 1400px) {
		width: 600px;
		height: 600px;
	}

	p.l-kv__txt_point {
	    padding: 36px 0 0;
	    text-align: center;
	    font-size: 10px;
	    color: #fff;
	    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);

		@media (min-width: 768px) {
			padding: 48px 0 0;
    		font-size: 15px;
		}

		@media (min-width: 1024px) {
			padding: 72px 0 0;
		}

		@media (min-width: 1400px) {
			padding: 100px 0 0;
		}

		> span {
			display: block;
			margin-top: 30px;
			line-height: 1.6;
		}
	}

	.wip_number_wrap {
	    position: relative;
	    width: 38px;
	    margin: 110px auto 0;

		@media (max-width: 768px) {
	    	width: 74px;
			margin: 130px auto 0;
			margin-top: 150px;
		}

	    @media (min-width: 768px) {
	    	width: 74px;
			margin: 130px auto 0;
			margin-top: 200px;
		}

		@media (min-width: 1024px) {
			margin: 180px auto 0;
			margin-top: 220px;
		}

		@media (min-width: 1400px) {
			margin-top: 260px;
		}

		.wip_number_inner {
		    position: relative;
		    height: 27px;
		    overflow: hidden;

		    @media (min-width: 1024px) {
		    	height: 40px;
		    }

		    p {
			    position: absolute;
			    width: 100%;
			    padding: 0 0 10px;
			    text-align: center;
			    font-size: 17px;
			    color: #fff;
			    line-height: 1;
			    transition: all 1.2s cubic-bezier(0.4, 0.2, 0.05, 1);

			    @media (min-width: 768px) {
					font-size: 26px;
				}

				@media (min-width: 1024px) {
					padding: 0 0 15px;
					font-size: 35px;
				}
			}
		}

		p.wip_number {
		    margin-top: 0;
		    padding: 10px 0 0;
		    border-top: solid #fff 1px;
		    text-align: center;
		    font-size: 17px;
		    color: #fff;
		    line-height: 1;

		

		    @media (min-width: 768px) {
				margin-top: 8px;
				font-size: 26px;
			}

			@media (min-width: 1024px) {
				margin: 9px 0 0;
				padding: 15px 0 0;
				font-size: 35px;
			}

			@media (min-width: 1400px) {
				padding: 15px 0 0;
				font-size: 35px;
			}
		}
	}

	svg, &:after {
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    border-radius: 100%;
	}

	svg {
	    z-index: 4;
	    width: 303px;
	    height: 303px;
	    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
	    transform: translate(-50%, -50%) rotate(-90deg);

	    @media (min-width: 768px) {
		    width: 403px;
		    height: 403px;
	    }

	    @media (min-width: 1024px) {
		    width: 503px;
		    height: 503px;
	    }

	    @media (min-width: 1400px) {
		    width: 603px;
		    height: 603px;
	    }
	}
}

.wip_txt_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 100%;
    height: 100px;
    overflow: hidden;

    @media (max-width: 1024px) {
    	top: 56%;
    }

    p {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	    text-align: center;
	    font-size: 17px;
	    color: #fff;
	    line-height: 1.7;
	    transition: all 1.2s cubic-bezier(0.4, 0.2, 0.05, 1);

	    @media (min-width: 768px) {
    		font-size: 26px;
		}

		@media (min-width: 1024px) {
    		font-size: 35px;
		}
	}
}


.wip_title_wrap {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 100%;
    height: 100px;
    overflow: hidden;

    @media (max-width: 1024px) {
    	top: 36%;
    }

    p {
	    position: absolute;
	    top: 30%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	    text-align: center;
	    font-size: 10px;
	    color: #fff;
	    line-height: 1.7;
	    transition: all 1.2s cubic-bezier(0.4, 0.2, 0.05, 1);

		
	    @media (max-width: 767px) {
    		font-size: 12px;
			top: 35%;
		}

	    @media (min-width: 768px) {
    		font-size: 15px;
		}

		@media (min-width: 1024px) {
    		font-size: 15px;
		}
	}
}

.l-kv__txt, .is-active {
	.wip_txt_wrap {
		p.wip_txt_01 {
			margin: 0;
		}

		p.wip_txt_02, p.wip_txt_03, p.wip_txt_04, p.wip_txt_05, p.wip_txt_06, p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01 {
			margin: 0;
		}

		p.wip_title_02, p.wip_title_03, p.wip_title_04, p.wip_title_05, p.wip_title_06, p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01 {
			margin: 0;
		}

		p.wip_number_02, p.wip_number_03, p.wip_number_04, p.wip_number_05, p.wip_number_06, p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active1 {
	.wip_txt_wrap {
		p.wip_txt_01 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_02 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_03, p.wip_txt_04, p.wip_txt_05, p.wip_txt_06, p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_02 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_03, p.wip_title_04, p.wip_title_05, p.wip_title_06, p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_02 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_03, p.wip_number_04, p.wip_number_05, p.wip_number_06, p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active2 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_03 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_04, p.wip_txt_05, p.wip_txt_06, p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_03 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_04, p.wip_title_05, p.wip_title_06, p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_03 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_04, p.wip_number_05, p.wip_number_06, p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active3 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02, p.wip_txt_03 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_04 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_05, p.wip_txt_06, p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02, p.wip_title_03 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_04 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_05, p.wip_title_06, p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02, p.wip_number_03 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_04 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_05, p.wip_number_06, p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active4 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02, p.wip_txt_03, p.wip_txt_04 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_05 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_06, p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02, p.wip_title_03, p.wip_title_04 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_05 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_06, p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02, p.wip_number_03, p.wip_number_04 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_05 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_06, p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active5 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02, p.wip_txt_03, p.wip_txt_04, p.wip_txt_05 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_06 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_07, p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02, p.wip_title_03, p.wip_title_04, p.wip_title_05 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_06 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_07, p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02, p.wip_number_03, p.wip_number_04, p.wip_number_05 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_06 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_07, p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active6 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02, p.wip_txt_03, p.wip_txt_04, p.wip_txt_05, p.wip_txt_06 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_07 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_08, p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02, p.wip_title_03, p.wip_title_04, p.wip_title_05, p.wip_title_06 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_07 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_08, p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02, p.wip_number_03, p.wip_number_04, p.wip_number_05, p.wip_number_06 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_07 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_08, p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active7 {
	.wip_txt_wrap {
		p.wip_txt_01, p.wip_txt_02, p.wip_txt_03, p.wip_txt_04, p.wip_txt_05, p.wip_txt_06, p.wip_txt_07 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_08 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_01, p.wip_title_02, p.wip_title_03, p.wip_title_04, p.wip_title_05, p.wip_title_06, p.wip_title_07 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_08 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_09 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_01, p.wip_number_02, p.wip_number_03, p.wip_number_04, p.wip_number_05, p.wip_number_06, p.wip_number_07 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_08 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_09 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.is-active8 {
	.wip_txt_wrap {
		p.wip_txt_02, p.wip_txt_03, p.wip_txt_04, p.wip_txt_05, p.wip_txt_06, p.wip_txt_07, p.wip_txt_08 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_txt_09 {
			margin: 0;
			opacity: 1;
		}

		p.wip_txt_01 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}

	.wip_title_wrap {
		p.wip_title_02, p.wip_title_03, p.wip_title_04, p.wip_title_05, p.wip_title_06, p.wip_title_07, p.wip_title_08 {
			margin: -110px 0 0;
			opacity: 0;
		}

		p.wip_title_09 {
			margin: 0;
			opacity: 1;
		}

		p.wip_title_01 {
			margin: 110px 0 0;
			opacity: 0;
		}
	}
	
	.wip_number_wrap .wip_number_inner {
		p.wip_number_02, p.wip_number_03, p.wip_number_04, p.wip_number_05, p.wip_number_06, p.wip_number_07, p.wip_number_08 {
			margin: -50px 0 0;
			opacity: 0;
		}

		p.wip_number_09 {
			margin: 0;
			opacity: 1;
		}

		p.wip_number_01 {
			margin: 50px 0 0;
			opacity: 0;
		}
	}
}

.ggYRuxgw_0, .ggYRuxgw_1, .ggYRuxgw_2, .ggYRuxgw_3, .ggYRuxgw_4, .ggYRuxgw_5, .ggYRuxgw_6, .ggYRuxgw_7, .ggYRuxgw_8 {
	stroke-dasharray: 930 930;
	stroke-dashoffset: 930;
}

.is-active .ggYRuxgw_0 {
	animation: ggYRuxgw_draw 4000ms linear 0ms backwards;
}

.is-active1 .ggYRuxgw_1, .is-active2 .ggYRuxgw_2, .is-active3 .ggYRuxgw_3, .is-active4 .ggYRuxgw_4, .is-active5 .ggYRuxgw_5, .is-active6 .ggYRuxgw_6, .is-active7 .ggYRuxgw_7, .is-active8 .ggYRuxgw_8 {
	animation: ggYRuxgw_draw 4000ms linear 0ms backwards;
}

@keyframes ggYRuxgw_draw {
	0% {
		stroke-dashoffset: 930;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes ggYRuxgw_fade {
	0% {
		stroke-opacity: 1;
	}

	97.36842105263158% {
		stroke-opacity: 1;
	}

	100% {
		stroke-opacity: 0;
	}
}

.sec-inner {
	width: 980px;
	max-width: 100%;
	margin: 0 auto;
}

.sec-aboutus {
	margin-top: 330px;
	background-color: #eeefe7;

	@media (max-width: 767px) {
		margin-top: 0;
	}

	.sec-img {
	    max-width: none;
	    height: 500px;
	    width: calc(100vw - 250px - (100vw - 250px - 980px) / 2);
	    object-fit: cover;
	    position: relative;
	    top: -250px;
	    margin-bottom: -250px;

	    @media (max-width: 991px) {
	    	width: 100%;
	    }

		@media (max-width: 767px) {
			height: 350px;
			width: 100%;
			top: 0;
			margin-bottom: 0;
		}
	}

	.sec-row {
		display: flex;
		align-items: center;

		.sec-left {
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-start;
			justify-content: center;
			flex: 48% 0 0;
			max-width: 48%;
			background: url(../images/logo-white.png) left 28% no-repeat;
			background-size: 90%;
			padding-bottom: 60px;

			@media (max-width: 991px) {
				background-size: contain;
			}

			> span {
				width: 38px;
				font-size: 36px;
				font-weight: 700;
				margin: 0 22px;
			}
		}

		.sec-right {
			flex: 52% 0 0;
			max-width: 52%;
			padding: 40px 40px;
			padding-bottom: 60px;

			p {
				font-size: 18px;
				line-height: 1.8;
			}

			a.button {
			    display: inline-block;
			    min-width: 300px;
			    background-color: #000;
			    color: #fff;
			    font-weight: 600;
			    font-size: 15px;
			    text-align: center;
			    border-radius: 30px;
			    height: 50px;
			    line-height: 50px;
			    margin-top: 40px;

			    &:hover {
			    	background-color: #444;
			    }
			}
		}

		@media (max-width: 767px) {
			padding: 0 35px;
			display: block;

			.sec-left {
				flex: 100% 0 0;
				max-width: 100%;
				flex-direction: column;
				padding-bottom: 0;

				> span {
					width: auto;
					display: block;
					margin: 15px 0;
					font-size: 24px;
				}
			}

			.sec-right {
			    flex: 100% 0 0;
			    max-width: 100%;
			    padding: 40px 0;

			    p {
			    	font-size: 14px;
			    }

			    a.button {
			    	min-width: 200px;
			    	width: 200px;
			    	font-size: 11px;
			    	height: 36px;
			    	line-height: 36px;
			    	display: block;
			    	margin-left: auto;
			    	margin-right: auto;
			    }
			}
		}
	}

	.sec-title {
		margin-top: -120px;
	    margin-bottom: 80px;
	    background-color: #eeefe7;
	    display: inline-block;
	    position: relative;
	    z-index: 1;
	    padding-top: 60px;
	    width: 48%;
	    font-size: 36px;
	    top: -18px;
	    font-weight: 700;

		> em {
			display: block;
			font-size: 0.5em;
			margin-top: 10px;
		}

		@media (max-width: 991px) {
			padding: 60px 100px 0 35px;
			width: auto;
			font-size: 24px;
			margin-bottom: 35px;

			> * {
				position: relative;
				top: -20px;
			}
		}
	}
}

.sec-news {
	.sec-row {
		display: flex;
		flex-direction: row-reverse;

		@media (max-width: 767px) {
			flex-direction: column;
		}

		.sec-left {
			flex: 0 0 70%;
			max-width: 70%;
			border-right: 1px solid #f3f3f3;
			padding: 70px 0;
			padding-right: 40px;

			@media (max-width: 991px) {
				padding-left: 35px;
			}

			.btn-container {
				padding: 40px 0;
				text-align: right;

				@media (max-width: 767px) {
					padding-top: 25px;
					text-align: center;
				}

				a {
					line-height: 1;
					font-size: 18px;
					font-weight: 600;
					text-decoration: underline !important;

					@media (max-width: 767px) {
						font-size: 11px;
					}
				}
			}

			@media (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
				border: 0;
				padding: 0 35px;
			}
		}

		.sec-right {
			flex: 0 0 30%;
			max-width: 30%;
			border-left: 1px solid #f3f3f3;
			margin-left: -1px;
			padding: 70px 0;
			padding-left: 80px;

			@media (max-width: 767px) {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 45px 0 20px;
			}
		}
	}

	.news-item {
		.news-label {
		    display: inline-block;
		    line-height: 30px;
		    background-color: #f3f3f3;
		    padding: 0 10px;
		    border-radius: 20px;
		    margin-right: 25px;
		    font-size: 14px;
		    color: #333;
		}

		.news-date {
			font-size: 14px;
			line-height: 30px;
			color: #999;
		}

		.news-title {
			margin: 10px 0 0;
			font-size: 20px;
			font-weight: 600;
			line-height: 1.6;
			transition: all .5s ease;
		}

		> a {
			display: block;
			position: relative;
			padding: 30px 0;
	    	border-bottom: 1px solid #f3f3f3;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 100%;
				bottom: 0;
				border-bottom: 1px solid #fe6297;
				transition: all .5s ease;
			}

			&:hover {
				&:after {
					right: 0;
				}

				.news-title {
					color: #fe6297;
				}
			}
		}

		@media (max-width: 767px) {
			.news-label {
				font-size: 9px;
				line-height: 20px;
				margin-rigth: 10px;
			}

			.news-date {
				font-size: 9px;
			}

			.news-title {
				font-size: 14px;
			}
		}
	}

	.sec-title {
		font-size: 36px;
		line-height: 1.6;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 20px;
		font-weight: 700;

		> em {
			font-size: 0.5em;
			display: block;
		}

		&:before {
			content: '';
			display: block;
			width: 50px;
			height: 5px;
			background-color: #ff6298;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		@media (max-width: 767px) {
			font-size: 24px;
			text-align: center;
			margin-bottom: 30px;

			&:before {
				width: 36px;
				height: 3px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.news-tabs {
		a {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5;
			display: inline-block;
			padding: 13px 0;


			&:hover, &.active {
				color: #ff6298;
			}
		}

		@media (max-width: 767px) {
			display: flex;
			border-top: 1px solid #e7ebef;
    		border-bottom: 1px solid #e7ebef;

			> li {
				flex: 0 0 20%;
				max-width: 20%;

				a {
					display: block;
					width: 100%;
					line-height: 36px;
					font-size: 11px;
					padding: 0;
					text-align: center;
					border-bottom: 2px solid transparent;
					margin-bottom: -1px;

					&:hover, &.active {
						border-bottom-color: #ff6298;
					}
				}
			}
		}
	}
}

.sec-banner {
	.sec-row {
		display: flex;
		flex-wrap: wrap;

		.banner-item {
			flex: 0 0 25%;
			overflow: hidden;

			&.w-2x {
				flex: 0 0 50%;
			}

			img {
				width: 100%;
				transition: all .5s ease;
			}

			&:hover {
				img {
					transform: scale(1.1);
				}
			}

			&.order-lg-last {
				@media (min-width: 1024px) {
					order: 12;
				}
			}

			@media (max-width: 767px) {
				&:not(.w-2x) {
					display: none;
				}

				&.w-2x {
					flex: 0 0 100%;
				}
			}
		}
	}
}

.sec-availability {
	padding: 85px 0 100px;
	background-color: #eeefe7;

	@media (max-width: 767px) {
		padding: 50px 35px;
	}

	.sec-title {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.6;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 50px;
		text-align: center;

		@media (max-width: 767px) {
			font-size: 24px;
		}

		> em {
			font-size: .5em;
			display: block;
		}

		&:before {
			content: '';
			display: block;
			width: 50px;
			height: 5px;
			background-color: #ff6298;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);

			@media (max-width: 767px) {
				height: 3px;
				width: 35px;
			}
		}
	}

	.availability-item {
		background-color: #fff;
		padding: 20px 30px 30px;
		margin: 2px;

		@media (max-width: 767px) {
			padding: 15px 25px 25px;
		}

		.item-city {
		    display: inline-block;
		    line-height: 30px;
		    background-color: #000;
		    padding: 0 10px;
		    border-radius: 20px;
		    margin-right: 0;
		    font-size: 14px;
		    color: #fff;

		    @media (max-width: 767px) {
		    	font-size: 9px;
		    	line-height: 20px;
		    }
		}

		.item-title {
		    text-align: center;

			> h3 {
			    font-size: 20px;
			    font-weight: 600;
			    margin: 15px 0 15px;
			    line-height: 1.6;

			    @media (max-width: 767px) {
			    	font-size: 14px;
			    	margin: 10px 0;
			    }
			}
		}

		.item-schedule {
			table {
				width: 100%;
				font-size: 18px;
				text-align: center;
				border-top: 1px solid #eeefe7;
				line-height: 2;
				margin-bottom: 20px;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 12px;
				}

				tr {
					td {
						border-bottom: 1px solid #eeefe7;
					}
				}
			}

			.schedule-explain {
				font-size: 14px;
				line-height: 1.6;
				margin-bottom: 20px;
				font-weight: 700;
				text-align: left;

				@media (max-width: 767px) {
					font-size: 9px;
				}

				> span {
					margin-right: 10px;
				}
			}

			.schedule-contact {
				font-size: 20px;
				text-align: center;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
		}

		.item-detail {
			border-top: 1px solid #eeefe7;
			padding-top: 20px;

			@media (max-width: 767px) {
				padding-top: 12px;
			}

			table {
				width: 100%;
				font-size: 18px;
				line-height: 1;
				margin-bottom: 20px;
				font-weight: 700;
				text-align: left;

				@media (max-width: 767px) {
					font-size: 12px;
					margin-bottom: 12px;
				}

				strong {
					font-size: 35px;

					@media (max-width: 767px) {
						font-size: 24px;
					}
				}
			}

			.schedule-contact {
				font-size: 20px;
				text-align: center;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 12px;
				}
			}
		}

		&.style02 {
			.item-title > h3 {
				min-height: 64px;

				@media (max-width: 767px) {
					min-height: 0;
				}
			}
		}
	}

	.btn-container {
		margin-top: 30px;

		a.button {
		    display: inline-block;
		    min-width: 300px;
		    background-color: #000;
		    color: #fff;
		    font-weight: 600;
		    font-size: 15px;
		    text-align: center;
		    border-radius: 30px;
		    height: 50px;
		    line-height: 50px;

		    @media (max-width: 767px) {
		    	min-width: 200px;
		    	font-size: 11px;
		    	line-height: 36px;
		    	height: 36px;
		    }

		    &:hover {
		    	background-color: #444;
		    }
		}
	}
}

.sec-information {
	padding: 85px 0 100px;

	@media (max-width: 767px) {
		padding: 50px 30px 70px;
	}

	.sec-inner {
		@media (min-width: 1500px) {
			width: 1470px;
		}
	}

	.sec-title {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.6;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 50px;
		text-align: center;

		@media (max-width: 767px) {
			font-size: 24px;
			margin-bottom: 35px;
		}

		> em {
			font-size: .5em;
			display: block;
		}

		&:before {
			content: '';
			display: block;
			width: 50px;
			height: 5px;
			background-color: #ff6298;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);

			@media (max-width: 767px) {
				height: 3px;
				width: 35px;
			}
		}
	}

	.information-item {
		position: relative;
		display: block;
		margin-right: -1px;

		@media (max-width: 767px) {
			margin-right: 0;
		}

		> figure {
			border: 1px solid #eeefe7;
			border-bottom: 0;
			padding: 30px;
			margin-bottom: -30px;

			@media (max-width: 767px) {
				border: 0;
				padding: 0 5px;
				margin-bottom: 0;
			}

			img {
				width: 100%;
			}
		}

		.information-detail {
			padding: 0 30px 35px;

			@media (max-width: 767px) {
				padding: 0 5px 20px;
			}

			> h3 {
				font-size: 18px;
				font-weight: 700;
				line-height: 1.6;
				margin: 10px 0;
				position: relative;
				padding-right: 25px;

				> b {
					display: inline-block;
					width: 20px;
					line-height: 20px;
					background-color: #fe6297;
					color: #fff;
					text-align: center;
					position: absolute;
					right: 0;
					top: 4px;
					font-size: 12px;
					border-radius: 10px;

					&:hover {
						opacity: .8;
					}
				}

				@media (max-width: 767px) {
					font-size: 14px;
					margin: 0 0 10px;

					> a {
						top: 1px;
					}
				}
			}
		}

		.information-city {
		    display: inline-block;
		    line-height: 30px;
		    padding: 0 10px;
		    border: 1px solid #eeefe7;
		    border-radius: 20px;
		    font-size: 14px;
		    margin: 5px 0;

		    @media (max-width: 767px) {
		    	font-size: 9px;
		    	line-height: 20px;
		    }
		}
	}
}

.sec-banner-go {
	padding: 40px 0 50px;
	background-color: #eeefe7;

	@media (max-width: 991px) {
		.sec-inner {
			padding-left: 35px;
			padding-right: 35px;
		}
	}

	@media (max-width: 767px) {
		padding: 40px 0 0;
	}

	figure {
		img {
			width: 100%;
		}
		
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}

	h4 {
		font-size: 18px;
		text-align: center;
		line-height: 2;
		margin-bottom: 20px;
		font-weight: 700;

		> span {
			display: inline-block;
		}

		> em {
			display: inline-block;
			width: 3px;
			height: 10px;
			border-left: 3px solid #fff;
			position: relative;
			top: -24px;
			left: 0;

			&:before, &:after {
				content: '';
				display: block;
				width: 3px;
				height: 10px;
				border-left: 3px solid #fff;
				position: absolute;
			}

			&:before {
				transform: rotate(-45deg);
				top: 4px;
				left: -15px;
			}

			&:after {
				transform: rotate(-90deg);
				top: 15px;
				left: -20px;
			}
		}
	}
}

.sec-contact {
	text-align: center;
	background: url(../images/contact_bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
	padding: 100px 0;

	@media (max-width: 767px) {
		padding: 50px 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		z-index: 1;
	}

	.sec-inner {
		position: relative;
		z-index: 2;
	}

	.sec-title {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.6;
		margin-bottom: 50px;

		@media (max-width: 767px) {
			font-size: 24px;
			margin-bottom: 35px;
		}

		em {
			font-size: .5em;
			display: block;
		}
	}

	p {
		font-size: 18px;
		line-height: 1.6;
		font-weight: 700;
		margin-bottom: 70px;

		@media (max-width: 767px) {
			font-size: 12px;
			margin-bottom: 50px;
		}
	}

	.btn-container {
		a.button {
		    display: inline-block;
		    min-width: 300px;
		    background-color: #000;
		    color: #fff;
		    font-weight: 600;
		    font-size: 15px;
		    text-align: center;
		    border-radius: 30px;
		    height: 50px;
		    line-height: 50px;

		    @media (max-width: 767px) {
		    	min-width: 200px;
		    	font-size: 12px;
		    	line-height: 35px;
		    	height: 35px;
		    }

		    &:hover {
		    	background-color: #444;
		    }
		}
	}
}

.sec-ads {
	padding: 50px 0;

	@media (max-width: 991px) {
		.sec-inner {
			padding-left: 35px;
			padding-right: 35px;
		}
	}

	@media (max-width: 767px) {
		padding: 35px 0 0;
	}

	figure {
		margin: 0;
	}
}

#to-top {
	display: none;
	bottom: 100px;
	right: 50px;
	position: fixed;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: #ff6297;
	color: #fff;
	transition: all .3s ease;
	cursor: pointer;
	line-height: 50px;
	z-index: 10;

	&:hover {
		background-color: #ff6297;
	}
}

.sec-contact-form, .sec-contact-confirm {
	.contact-form-title {
		font-size: 24px;
		line-height: 1.5;
		font-weight: 700;
		padding: 9px 20px;
		border-left: 2px solid #fe6297;
		margin-bottom: 40px;

		@media (max-width: 767px) {
			font-size: 16px;
			padding: 5px 15px;
			margin-bottom: 20px;
		}
	}

	.contact-form-subtitle {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 700;
		margin-bottom: 20px;

		@media (max-width: 767px) {
			font-size: 13px;
			margin-bottom: 10px;
		}
	}

	p {
		font-size: 18px;
		line-height: 2;
		margin-bottom: 20px;

		@media (max-width: 767px) {
			font-size: 13px;
			margin-bottom: 10px;
		}

		a {
			color: #fe6297;
			text-decoration: underline;
		}
	}

	#contact_us_form {
	    margin-top: 80px;

	    @media (max-width: 767px) {
	    	margin-top: 40px;
	    }
	}


	.btn-container {
		padding-top: 50px;
		text-align: center;

		@media (max-width: 991px) {
			padding-top: 20px;
		}

		.button {
			display: inline-block;
		    min-width: 300px;
		    background-color: #000;
		    color: #fff;
		    font-weight: 600;
		    font-size: 15px;
		    text-align: center;
		    border-radius: 30px;
		    height: 50px;
		    line-height: 50px;

		    &:hover {
		    	background-color: #444;
		    }

		    @media (max-width: 767px) {
		    	min-width: 200px;
		    	width: 200px;
		    	font-size: 11px;
		    	height: 36px;
		    	line-height: 36px;
		    }
		}
	}
}

.sec-contact-confirm {
	fieldset .input-text .input-text-label {
		@media (max-width: 991px) {
			flex: initial;
			min-width: 125px;
		}
	}

	.btn-container {
		padding-top: 50px;
		text-align: center;

		@media (max-width: 991px) {
			padding-top: 20px;
		}

		.button {
			display: inline-block;
		    min-width: 300px;
		    background-color: #000;
		    color: #fff;
		    font-weight: 600;
		    font-size: 15px;
		    text-align: center;
		    border-radius: 30px;
		    height: 50px;
		    line-height: 50px;
		    margin: 5px 15px;

		    &:hover {
		    	background-color: #444;
		    }

		    &.secondary {
		    	background-color: #9a9a9a;

		    	&:hover {
		    		background-color: #777;
		    	}
		    }

		    @media (max-width: 767px) {
		    	min-width: 200px;
		    	width: 200px;
		    	font-size: 11px;
		    	height: 36px;
		    	line-height: 36px;
		    }
		}
	}
}

.sec-information-detail {
	.information-image {
		width: 100%;
		height: 700px;
		max-height: 100vh;
		margin-bottom: 80px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.page-title {
		margin-bottom: 40px;

		&:before {
			height: 1px;
			width: 75px;
		}
	}

	.page-subtitle {
		margin-bottom: 40px;
	}

	.availability-item {
		padding: 20px 0 30px;
		margin: 2px;

		@media (max-width: 767px) {
			padding: 15px 25px 25px;
		}

		.item-city {
		    display: inline-block;
		    line-height: 30px;
		    background-color: #000;
		    padding: 0 10px;
		    border-radius: 20px;
		    margin-right: 0;
		    font-size: 14px;
		    color: #fff;

		    @media (max-width: 767px) {
		    	font-size: 9px;
		    	line-height: 20px;
		    }
		}

		.item-title {
		    text-align: center;

			> h3 {
			    font-size: 20px;
			    font-weight: 600;
			    margin: 15px 0 15px;
			    line-height: 1.6;

			    @media (max-width: 767px) {
			    	font-size: 14px;
			    	margin: 10px 0;
			    }
			}
		}

		.item-schedule {
			table {
				width: 100%;
				font-size: 18px;
				text-align: center;
				border-top: 1px solid #eeefe7;
				line-height: 2;
				margin-bottom: 20px;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 12px;
				}

				tr {
					td {
						border-bottom: 1px solid #eeefe7;
					}
				}
			}

			.schedule-explain {
				font-size: 14px;
				line-height: 1.6;
				margin-bottom: 20px;
				font-weight: 700;
				text-align: left;

				@media (max-width: 767px) {
					font-size: 9px;
				}

				> span {
					margin-right: 10px;
				}
			}

			.schedule-contact {
				font-size: 20px;
				text-align: center;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 14px;
				}
			}
		}

		.item-detail {
			border-top: 1px solid #eeefe7;
			padding-top: 20px;

			@media (max-width: 767px) {
				padding-top: 12px;
			}

			table {
				width: 100%;
				font-size: 18px;
				line-height: 1;
				margin-bottom: 20px;
				font-weight: 700;
				text-align: left;

				@media (max-width: 767px) {
					font-size: 12px;
					margin-bottom: 12px;
				}

				strong {
					font-size: 35px;

					@media (max-width: 767px) {
						font-size: 24px;
					}
				}
			}

			.schedule-contact {
				font-size: 20px;
				text-align: center;
				font-weight: 700;

				@media (max-width: 767px) {
					font-size: 12px;
				}
			}
		}

		&.style02 {
			.item-title > h3 {
				min-height: 64px;

				@media (max-width: 767px) {
					min-height: 0;
				}
			}
		}
	}
}

.sec-information-detail {
	.quick-link {
	    display: flex;
	    flex-wrap: wrap;
	    margin: -5px;
	    padding-bottom: 25px;
	    margin-bottom: 50px;
	    position: relative;

	    &:before {
	    	content: '';
	    	display: block;
	    	height: 2px;
	    	border-bottom: 2px solid #ccc;
	    	position: absolute;
	    	left: 5px;
	    	right: 5px;
	    	bottom: 0;
	    }

	    > li {
	    	flex: 0 0 25%;
	    	padding: 5px;

	    	@media (max-width: 991px) {
	    		flex: 0 0 50%;
	    	}

	    	> a {
	    		line-height: 50px;
	    		background-color: #fff;
	    		font-size: 16px;
	    		padding: 0 30px;
			    display: block;
			    position: relative;

			    @media (max-width: 991px) {
			    	font-size: 11px;
			    	padding: 0 20px;
			    	line-height: 35px;
			    }

	    		> i {
	    			color: #fe6297;
	    			font-size: 12px;
	    			position: absolute;
	    			right: 15px;
	    			top: 50%;
	    			transform: translateY(-50%);

	    			@media (max-width: 991px) {
	    				font-size: 9px;
	    				right: 10px;
	    			}
	    		}

	    		&:hover {
	    			color: #fe6297;
	    		}
	    	}
	    }
	}

	.detail-title {
		font-size: 24px;
		line-height: 1.5;
		font-weight: 700;
		padding: 9px 20px;
		border-left: 2px solid #fe6297;
		margin-bottom: 75px;

		@media (max-width: 767px) {
			font-size: 16px;
			padding: 5px 15px;
			margin-bottom: 20px;
		}
	}

	.detail-info {
		h4 {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 30px;
		}

		h5 {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.5;
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 20px
		}
	}

	#detail1, #detail1_1 {
		margin-bottom: 100px;

		@media (min-width: 992px) {
			.row {
				> .col-lg-8 {
					padding-right: 80px;
					border-right: 1px solid #ccc;
				}

				> .col-lg-4 {
					padding-left: 60px;
				}
			}
		}

		.availability-item {
			border-top: 1px solid #ccc;

			.item-title > h3 {
				font-size: 18px;
			}

			.item-schedule .schedule-explain {
				font-size: 12px;

				> span {
					margin-right: 5px;
				}
			}
		}
	}

	#detail2 {
		padding-bottom: 60px;

		> h4 {
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
	}

	#detail3, #detail4 {
		padding: 100px 0;

		@media (max-width: 767px) {
			padding: 60px 0;
		}

		.detail-title {
			margin-bottom: 40px;
		}
	}

	#detail4 {
		> .row {
			margin: 0 -60px;

			@media (max-width: 767px) {
				margin: 0;
			}

			> div {
				padding: 0 60px;

				@media (max-width: 767px) {
					padding: 0;

					&:first-child {
						margin-bottom: 40px;
					}
				}
			}
		}
	}

	.time-table {
		.time-table-item {
			padding: 40px;
			background-color: #fff;

			h4 {
				margin-bottom: 10px;

				@media (max-width: 767px) {
					font-size: 14px;
				}
			}

			p {
				margin-bottom: 0;

				@media (max-width: 767px) {
					font-size: 13px;
				}
			}

			> img {
				float: right;
				margin: -40px -40px -40px 30px;
			}

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			@media (max-width: 767px) {
				padding: 25px 35px;
				display: flex;
				flex-direction: column;

				> img {
					margin: 25px -35px -25px -35px;
					float: none;
				    order: 12;
				    width: calc(100% + 70px);
				    max-width: none;
				    height: auto;
				}
			}
		}
	}

	.time-table-space {
	    text-align: center;
	    padding: 10px;
	    color: #fe6297;
	}

	fieldset .input-text .input-text-data {
	    margin: 25px 0;
	}

	.sec-information {
		.sec-title {
			font-size: 24px;
			text-align: left;
			padding-bottom: 0;

			&:before {
				display: none;
			}

			@media (max-width: 767px) {
				font-size: 16.8px;
				margin-bottom: 35px;
			}
		}
	}

	#detail5 {
		.time-table .time-table-item {
			background-color: #f6f7f2;

			p {
				line-height: 2;
			}

			.business-detail {
				font-size: 20px;
			    display: flex;
			    align-items: center;
			    font-weight: 700;

			    em {
			    	font-style: normal;
			    	font-size: 35px;
			    	margin-right: 30px;
			    }

			    @media (max-width: 991px) {
			    	font-size: 16px;

			    	em {
			    		font-size: 24px;
			    	}
			    }
			}
		}
	}
}

body.page-news {
	.sec-news {
		.sec-row {
			.sec-right {
				position: relative;
				border-left: 0;
				margin-left: 0;
			}

			.sec-left {
				border-right: 0;
			}
		}

		.news-tabs a {
			@media (min-width: 992px) {
				font-size: 16px;
			}
		}

		.news-detail {
			margin: 70px 0 30px;
			padding: 30px 0;
			border-bottom: 1px solid #eee;

			.news-label {
			    display: inline-block;
			    line-height: 30px;
			    background-color: #f3f3f3;
			    padding: 0 10px;
			    border-radius: 20px;
			    margin-right: 25px;
			    font-size: 14px;
			    color: #333;
			}

			.news-date {
				font-size: 14px;
				line-height: 30px;
				color: #999;
			}

			.news-title {
				margin: 10px 0;
				font-size: 35px;
				font-weight: 600;
				line-height: 1.6;
				padding-bottom: 20px;
				margin-bottom: 40px;
				border-bottom: 1px solid #eee;
			}

			.news-content {
				font-size: 18px;

				p {
					margin-bottom: 20px;
					line-height: 1.6;
				}
			}

			@media (max-width: 767px) {
				.news-label {
					font-size: 9px;
					line-height: 20px;
					margin-rigth: 10px;
				}

				.news-date {
					font-size: 9px;
				}

				.news-title {
					font-size: 24px;
				}

				.news-content {
					font-size: 12px;
				}
			}
		}

		.news-detail-toolbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 100px;

			> a {
				font-size: 18px;
				text-decoration: underline !important;

				@media (max-width: 767px) {
					font-size: 12px;
				}

				&:hover {
					color: #ff6297;
				}
			}
		}
	}
}

.sec-aboutus {
	.aboutus-item {
		position: relative;
		margin-right: -1px;

		@media (max-width: 767px) {
			margin-right: 0;
		}

		> figure {
			border: 1px solid #eeefe7;
			border-bottom: 0;
			padding: 30px;
			margin-bottom: -15px;

			@media (max-width: 767px) {
				border: 0;
				padding: 0 5px;
				margin-bottom: 15px;
			}

			img {
				width: 100%;
			}
		}

		.aboutus-detail {
			padding: 0 30px 35px;

			@media (max-width: 767px) {
				padding: 0 5px 20px;
			}

			> h3 {
				font-size: 20px;
				font-weight: 700;
				line-height: 1.6;
				margin: 10px 0;
				position: relative;
				padding-right: 25px;

				> b {
					display: inline-block;
					width: 20px;
					line-height: 20px;
					background-color: #fe6297;
					color: #fff;
					text-align: center;
					position: absolute;
					right: 0;
					top: 4px;
					font-size: 12px;
					border-radius: 10px;

					&:hover {
						opacity: .8;
					}
				}

				@media (max-width: 767px) {
					font-size: 16px;
					margin: 0 0 10px;

					> a {
						top: 1px;
					}
				}
			}
		}
	}
}

.page-aboutus {
	.sec-aboutus {
		margin-top: 0;
		padding: 100px 0;
		background-color: transparent;

		@media (max-width: 991px) {
			padding: 60px 0;
		}
	}
}

.sec-policy {
	padding-top: 250px;

	@media (max-width: 767px) {
		padding-top: 0;
	}

	.sec-aboutus {
		margin-top: 0;

		.sec-row {
			padding-top: 100px;
			position: relative;

			&:before {
				content: 'Vision';
				display: block;
				font-size: 180px;
				color: #fff;
				position: absolute;
				right: 0;
				top: 50%;
				transform: rotate(90deg) translateX(16%) translateY(-50%);
				transform-origin: bottom right;
				font-weight: 700;
				line-height: 1;
			}

			@media (max-width: 991px) {
				padding-top: 65px;
			}

			h4 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 10px;

				@media (max-width: 991px) {
					font-size: 16px;
				}
			}

			h5 {
				font-size: 18px;
				margin-bottom: 15px;

				@media (max-width: 991px) {
					font-size: 12px;
				}
			}

			.policy-vision {
			    background-color: #fff;
			    font-size: 20px;
			    display: flex;
			    align-items: center;
			    padding: 20px 35px;
			    margin-bottom: 10px;

			    em {
			    	font-style: normal;
			    	font-size: 35px;
			    	margin-right: 20px;
			    	font-weight: 700;
			    }

			    @media (max-width: 991px) {
			    	font-size: 16px;

			    	em {
			    		font-size: 24px;
			    	}
			    }
			}
		}
	}
}

.sec-mission {
	padding: 100px 0;
	border-bottom: 1px solid #eee;

	@media (max-width: 991px) {
		padding: 65px 0;
	}

	h4 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;

		@media (max-width: 991px) {
			font-size: 16px;
		}
	}

	h5 {
		font-size: 18px;
		margin-bottom: 15px;

		@media (max-width: 991px) {
			font-size: 12px;
		}
	}

	p {
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 35px;

		@media (max-width: 991px) {
			font-size: 20px;
			margin-bottom: 24px;
		}
	}

	.sec-inner {
		position: relative;

		@media (max-width: 991px) {
			padding: 0 35px;
		}

		&:after {
			content: 'Mission';
			display: block;
			color: #eee;
			font-size: 180px;
			font-weight: 700;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateY(calc(50% - 35px));
			z-index: -1;

			@media (max-width: 991px) {
				transform: translateX(50%) translateY(50%);
				right: 50%;
				font-size: 120px;
			}
		}
	}
}

.page-policy {
	.page-title {
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}

	.sec-mission + .sec-aboutus {
		margin-top: 0;
		background-color: transparent;
		padding: 100px 0;

		@media (max-width: 991px) {
			padding: 65px 0;
		}

		h4 {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 30px;

			@media (max-width: 991px) {
				font-size: 16px;
			}
		}
	}
}

.page-company-profile {
	.sec-company-profile {
		padding-top: 250px;

		@media (max-width: 767px) {
			padding-top: 0;
		}

		.sec-aboutus {
			margin-top: 0;
			background-color: transparent;
		}

		+ .sec-aboutus {
			margin-top: 0;
			background-color: transparent;
			padding: 100px 0;

			@media (max-width: 991px) {
				padding: 65px 0;
			}

			h4 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 30px;

				@media (max-width: 991px) {
					font-size: 16px;
				}
			}
		}
	}

	.page-title {
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}

	.company-profile {
		padding: 100px 0 0;

		fieldset .input-text .input-text-data {
			padding: 20px 0;
			line-height: 1.5;
		}
	}
}

.page-history {
	.sec-history {
		padding-top: 250px;

		@media (max-width: 767px) {
			padding-top: 0;
		}

		.sec-aboutus {
			margin-top: 0;
			background-color: transparent;
		}

		+ .sec-aboutus {
			margin-top: 0;
			background-color: transparent;
			padding: 100px 0;

			@media (max-width: 991px) {
				padding: 65px 0;
			}

			h4 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 30px;

				@media (max-width: 991px) {
					font-size: 16px;
				}
			}
		}
	}

	.page-title {
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}

	.history {
		padding: 100px 0 0;

		table {
			font-size: 18px;

			@media (max-width: 767px) {
				font-size: 12px;
			}

			th, td {
				padding: 20px 35px;

				@media (max-width: 991px) {
					padding: 15px 25px;
				}
			}

			thead {
				th {
					border-bottom: 1px solid #eee;

					&:first-child {
						border-right: 1px solid #eee;
					}
				}
			}

			tbody {
				th {
					border-right: 1px solid #eee;
				}
			}
		}
	}
}

.page-voice {
	.sec-voice {
		padding-top: 250px;

		@media (max-width: 991px) {
			.sec-inner {
				padding: 0 35px;

				> img {
					margin: 0 -35px;
					width: calc(100% + 70px);
				}
			}
		}

		@media (max-width: 767px) {
			padding-top: 0;
		}

		.sec-aboutus {
			margin-top: 0;
			padding-bottom: 50px;

			h3 {
				font-size: 35px;
				font-weight: 700;
				margin-top: 50px;
				margin-bottom: 40px;
				line-height: 1.6;

				@media (max-width: 991px) {
					font-size: 24px;
					margin-top: 35px;
					margin-bottom: 26px;
				}

				+ p {
					font-size: 16px;
					margin-bottom: 40px;

					@media (max-width: 991px) {
						font-size: 12px;
						margin-bottom: 26px;
					}
				}
			}
		}

		+ .sec-aboutus {
			margin-top: 0;
			background-color: transparent;
			padding: 100px 0;

			@media (max-width: 991px) {
				padding: 65px 0;
			}

			h4 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 30px;

				@media (max-width: 991px) {
					font-size: 16px;
				}
			}
		}

		.members {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 50px 0;

			.member {
				text-align: center;
				margin: 0 20px;

				@media (max-width: 767px) {
					margin: 0 5px;
				}

				figure {
					display: block;
					border-radius: 150px;
					width: 215px;
					height: 215px;
					margin-bottom: 10px;
					overflow: hidden;

					@media (max-width: 767px) {
						width: 120px;
						height: 120px;
					}

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				p {
					font-size: 16px;
					font-weight: 700;
					margin-bottom: 15px;

					@media (max-width: 767px) {
						font-size: 12px;
					}
				}

				h4 {
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 0;

					@media (max-width: 767px) {
						font-size: 14px;
					}
				}
			}

			.separator {
				display: block;
				position: relative;
				width: 176px;
				height: 176px;
				transform: rotate(-45deg);
    			top: -30px;

				&:before, &:after {
					content: '';
					display: block;
					width: 176px;
					height: 1px;
					border-bottom: 1px solid #fff;
					position: absolute;
				}

				&:before {
					top: 50%;
					left: 0;
				}

				&:after {
					left: 50%;
					top: 0;
					width: 1px;
					height: 176px;
					border-left: 1px solid #fff;
					border-bottom: 0;
				}

				@media (max-width: 991px) {
					display: none;
				}
			}
		}

		.member-text {
		    background-color: #fff;
		    padding: 25px 35px;

		    p {
		    	font-size: 16px;
		    	line-height: 2;

		    	@media (max-width: 767px) {
		    		font-size: 12px;
		    	}
		    }
		}

		.sec-voice-text {
		    padding: 50px 0;
		    border-bottom: 1px solid #eee;

		    h5 {
		    	font-size: 20px;
		    	font-weight: 700;
		    	margin-bottom: 35px;
		    	line-height: 1.6;

		    	@media (max-width: 767px) {
		    		font-size: 14px;
		    	}
		    }

		    p {
		    	font-size: 18px;
		    	line-height: 1.6;
		    	margin-bottom: 30px;
		    	line-height: 1.6;

		    	@media (max-width: 767px) {
		    		font-size: 13px;
		    	}
		    }

		    figure {
		    	margin-top: 40px;
		    	margin-bottom: 40px;

		    	img {
		    		width: 100%;
		    	}
		    }
		}
	}

	.page-title {
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}
}

.detail-subtitle {
	background-color: #dfe2cb;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	padding: 20px 0;
	margin-bottom: 80px;

	@media (max-width: 767px) {
		font-size: 16px;
		margin-bottom: 50px;
	}
}

ul.news-tabs.custom-tab {
	position: relative;

	@media (max-width: 767px) {
		position: static;
	}
}

body.page-contact {
	fieldset .input-text .input-text-data {
	    margin: 25px 0;
	}
}