@charset "utf-8";

$base-font: "Noto Sans", sans-serif;

$color-base: #000;
$color-primary: #000;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-v {
    display: flex;
    align-items: center;
}